html {
  /* Solarized theme */
  --base03:  #002b36;
  --base02:  #073642;
  --base01:  #586e75;
  --base00:  #657b83;
  --base0:   #839496;
  --base1:   #93a1a1;
  --base2:   #eee8d5;
  --base3:   #fdf6e3;
  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;

  background: var(--base03);

  color: var(--base0);
  font-family: monospace;
  font-size: 19px;
}

/* Scrolling */
html {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--base01) transparent;
}
html::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--base01);
  border: 4px solid var(--base03);
  border-radius: 8px;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--base00);
}

body {
  margin-top: 0;

  --h1-height: 8rem;
  --h1-collapsed-height: 4rem;
  padding-top: var(--h1-height);

  --h2-height: 1.8rem;
  --h2-min-spacing: 1rem;

  --section-max-width: 45rem;
}

/* Gradient fade-out at bottom of screen */
body::after {
  content: '';
  position: fixed;
  z-index: 2;
  bottom: 0;
  left:   0;
  right:  0;
  height: 5rem;
  background: linear-gradient(rgba(0, 43, 54, 0), var(--base03));
  pointer-events: none;
}

::selection {
  background: rgba(253, 246, 227, 0.996); /* Must not use opacity of 1 or Chrome adds transparency */
  color: var(--base00);
}

h1 {
  position: fixed;
  top:   0;
  left:  0;
  right: 0;
  margin: 0;
  background: linear-gradient(var(--base03) 20%, rgba(0, 43, 54, 0));
  text-align: center;
  font-size: 0; /* The h1 element has text for SEO but the profile pic is shown instead */
  z-index: 3;
  pointer-events: none;
}
h1 a {
  width:  8rem;
  height: 8rem;
  background: var(--base03);
  border-radius: 50%;
  pointer-events: auto;
}
h1 a:hover,
h1 a:focus {
  background: var(--base03);
  box-shadow: none;
  border-radius: 50%;
}
h1 a:active {
  transform: none;
}
h1 a:active img,
h1 a:active::after {
  transform: translate(0.1rem, 0.1rem);
}
h1 img {
  display: inline-block;
  width:  6rem;
  height: 6rem;
  border-radius: 100%;
  margin-top: 1rem;
  transition: width 0.2s, height 0.2s, margin-top 0.2s;
  cursor: pointer;
  pointer-events: none;
}
h1 a::after {
  pointer-events: none;
}
h1 a:hover img {
  box-shadow: 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.8);
}
h1 a:active img {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

h2 {
  position: sticky;
  position: -webkit-sticky;
  top: var(--h1-collapsed-height);
  z-index: 3;
  margin-top: 0;
  margin-bottom: 1rem;
  height: var(--h2-height);
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}
h2 a {
  text-decoration: none;
  color: var(--blue);
  background: var(--base03);
  padding-left:  1rem;
  padding-right: 1rem;
  border-radius: 0.2rem;
  pointer-events: auto;
}
h2 a:hover {
  background-color: var(--blue);
  color: var(--base03);
}

section {
  position: relative;
  max-width: var(--section-max-width);
  margin: 0 auto;
  margin-bottom: 3rem;
  z-index: 2;
}
section > .scroll-handle {
  position: absolute;
  top: calc((var(--h1-collapsed-height) + var(--h2-height)) * -1.15);
}
#about.scroll-handle {
  top: calc(var(--h1-height) * -1);
}

section > div {
  display: flex;
  margin-bottom: 1rem;
}

section > div > .graphical {
  flex-basis: 3rem;
  flex-grow: 1;
  margin-right: 1rem;
  text-align: right;
}
section > div .textual {
  flex-basis: 3rem;
  flex-grow: 1;
  margin-left: 1rem;
}

.opening-paragraph {
  color: var(--base3);
}

a {
  display: inline-block;
  color: var(--blue);
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 0.1rem;
}
a:hover {
  outline: none;
  background: var(--blue);
  box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.45);
  color: var(--base03);
  text-decoration: none;
}
a:focus {
  outline: none;
  border: 1px dashed var(--blue);
  text-decoration: none;
}
a:active {
  transform: translate(0.1rem, 0.1rem);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.6);
}

#timeline-header {
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--h1-collapsed-height) + var(--h2-height) + 0.5rem);
  z-index: 3;
  height: 1rem;
  margin-left: calc((100% - var(--section-max-width)) / 2);
  width: calc((var(--section-max-width) / 2) - 1rem);
  background-color: var(--base02);
  opacity: 1;
  transition: .5s opacity;
}
#timeline-header.hidden {
  opacity: 0;
}
#timeline-background {
  position: absolute;
  left:   0;
  top:    0;
  bottom: 0;
  right: calc(50% + 1rem);
  overflow: hidden;
}
#timeline-background > .timeline-block {
  background: var(--base02);
  border-left: 3px solid var(--base03);
}

#history-section > div:first-of-type > .textual {
  margin-top: 0;
}
#history-section > div:first-of-type > .graphical {
  margin-top: 1.6rem;
}
#history-section h3 {
  margin: 0;
}
.timeline-row {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  height: 15px;
}
.timeline-block {
  color: var(--base0);
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: left;
  font-size: 0.7em;
}
#timeline-header .timeline-block {
  margin-top: 5px;
  padding-left:  3px;
  box-sizing: border-box;
  text-align: center;
}
#timeline-header .timeline-block::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 3px;
  height: 12px;
  background-color: var(--base0);
}
#timeline-header .timeline-block:first-of-type {
  background-color: var(--base03);
  z-index: 1;
}

.timeline-block .label {
  position: absolute;
  top: 100%;
  margin-top: 5px;
}

.timeline-block .duration {
  position: absolute;
  bottom: 100%;
  padding-bottom: 5px;
  left:  -150px;
  right: -150px;
  text-align: center;
}
.timeline-block .duration.right-aligned {
  right: 0;
  text-align: right;
}

.timeline-block .date-label {
  position: absolute;
  top: 100%;
  width: 300px;
  padding-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.timeline-block .date-label::after {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 6px;
  height: 15px;
  background-color: var(--base0);
}
.timeline-block .date-label.start { left:  -150px; }
.timeline-block .date-label.end   { right: -150px; }

.timeline-block.australia {
  background: linear-gradient(135deg, #262665, #262665 10px, #fff 10px, #fff 15px, #cf3030 15px, #cf3030 20px, #fff 20px, #fff 23px, #262665 23px, #262665);
}
.timeline-block.germany   {
  background: linear-gradient(135deg, #000, #000 33%, #c83737 33%, #c83737 66%, #cfaf30 66%, #cfaf30);
}

.timeline-block.aie       { background-color: var(--cyan);   }
.timeline-block.nch       { background-color: var(--red);    }
.timeline-block.mediaware { background-color: var(--blue);   }
.timeline-block.kiwi      { background-color: var(--green);  }
.timeline-block.das       { background-color: var(--yellow); }
.timeline-block.flowkey   { background-color: var(--orange); }

.timeline-paragraph-header {
  height: 2em;
}

.hide-text {
  font-size: 0 !important;
}

ul.graphical {
  list-style-type: none;
  padding-left: 0;
}
ul.graphical {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0;
}
ul.graphical li {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
ul.graphical li img {
  height: 2.2rem;
}

.textual ul.tags {
  padding: 0;
}
.textual ul.tags li {
  display: inline-flex;
  background: var(--base0);
  color: var(--base03);
  font-weight: bold;
  height: 1.4rem;
  border-radius: .7rem;
  padding-left:  .5rem;
  padding-right: .5rem;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}

.textual ul li {
  margin-bottom: 0.5rem;
}

.textual .certificate-list {
  list-style-type: none;
  padding-left: 0;
}

/* Ultra-wide desktop layout */
@media (min-width: 2200px) {
  body {
    font-size: 0.86vw;
  }
}

/* Wide desktop layout */
@media (min-width: 1900px) {
  body {
    padding-top: 0;
    padding-left: 52vw;
  }
  body::before {
    content: '';
    position: fixed;
    z-index: 3;
    top: 0;
    left:   0;
    right:  0;
    height: 5rem;
    background: linear-gradient(var(--base03), rgba(0, 43, 54, 0));
    pointer-events: none;
  }

  h1 {
    position: fixed;
    left: calc(48vw - var(--section-max-width));
    right: 52vw;
    top: 0;
  }
  h2 {
    top: 0.5rem;
    max-width: var(--section-max-width);
  }

  section {
    margin-left: 0;
    margin-right: auto;
  }
  section:nth-of-type(1) {
    position: fixed;
    left: calc(48vw - var(--section-max-width));
    right: 52vw;
    top: var(--h1-height);
    bottom: 0;
    margin-bottom: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--base01) transparent;
  }
  section:nth-of-type(1)::-webkit-scrollbar {
    width: 16px;
    background: transparent;
  }
  section:nth-of-type(1)::-webkit-scrollbar-thumb {
    background: var(--base01);
    border: 4px solid var(--base03);
    border-radius: 8px;
  }
  section:nth-of-type(1)::-webkit-scrollbar-thumb:hover {
    background: var(--base00);
  }

  #history-section {
    margin-top: -1rem;
    padding-top: 3rem;
  }
  #timeline-header {
    margin-left: 0;
    top: calc(var(--h2-height) + 1rem);
  }

  section > .scroll-handle {
    top: calc(var(--h2-height) * -1.35);
  }
}

/* Desktop layout */
@media (min-width: 1024px) and (max-width: 1899px) {
  body {
    margin-left:  3rem;
    margin-right: 3rem;
  }

  h1.collapsed a {
    width:  5rem;
    height: 5rem;
    margin-top: -0.5rem;
  }
  h1.collapsed img {
    width:  3rem;
    height: 3rem;
  }
  h1 a::after {
    content: '';
    position: absolute;
    left: calc(50% - 3rem);
    top: 1rem;
    width:  6rem;
    height: 6rem;
    transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s;
  }
  h1.collapsed a::after {
    left: calc(50% - 1.5rem);
    top: 0.5rem;
    width:  3rem;
    height: 3rem;
  }

  section > div {
    flex-direction: row;
  }

  #history-section {
    margin-top: -1rem;
    padding-top: 3rem;
  }
}

/* Mobile layout */
@media (max-width: 1023px) {
  body {
    padding-top: 0;
    margin-left:  1rem;
    margin-right: 1rem;
  }

  h1 {
    position: static;
  }
  h2 {
    position: static;
  }

  section {
    max-width: 35rem;
  }
  section > div {
    flex-direction: column;
  }
  section > div > .graphical {
    margin-right:  0;
    margin-bottom: 0;
  }
  section > div .textual {
    margin-left: 0;
  }
  section::before {
    display: none;
  }

  section > .scroll-handle {
    top: calc((var(--h2-height) + 1.5rem) * -1);
  }

  ul.graphical {
    justify-content: space-between;
  }
  ul.graphical li {
    margin-left: 0;
  }
  ul.graphical li img {
    height: 1.7rem;
  }

  #history-section > div > .graphical {
    margin-bottom: -3.5rem;
  }
  #timeline-header, #timeline-background {
    display: none;
  }
  .timeline-row {
    visibility: hidden;
  }
  .timeline-block {
    position: initial;
  }
  .timeline-row .duration {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    left: initial;
  }
  .timeline-row .date-label {
    display: none;
  }

  #projects-section > div {
    display: block;
    margin-bottom: 2rem;
  }
  #projects-section > div > .graphical {
    display: inline-block;
    float: left;
    width:  2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    margin-top: -0.6rem;
  }

  #articles-section > div {
    display: block;
    margin-bottom: 2rem;
  }
  #articles-section > div > .graphical {
    display: inline-block;
    float: left;
    width:  2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    margin-top: -0.6rem;
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  p {
    text-align: justify;
  }
}

/* Very narrow mobile layout */
@media (max-width: 500px) {
  html {
    font-size: 3.2vw;
  }
  body {
    margin-left:  1rem;
    margin-right: 1rem;
  }
}
