html, body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-size: 3.78vw;
  margin: 0;
}
@media (min-width: 425px) {
  html, body {
    font-size: 16px;
  }
}

a {
  text-decoration: inherit;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
          transition: transform 0.2s, box-shadow 0.2s;
}
a:visited {
  color: inherit;
}
a.activated {
  transform: scale(1.4);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
}

.profile-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .profile-card {
    position: fixed;
    left: 50%;
    margin-left: -25.5rem;
  }
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width:  8rem;
  height: 8rem;
  border-radius: 4rem;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  background-color: #eff2f4;
}

.email {
  display: block;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #444;
}
.email:hover {
  color: #5555DA;
  outline: none;
}

.profile-links {
  display: flex;
  margin: 0 auto;
  max-width: 26rem;
  margin-top:    0.5rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .profile-links {
    position: fixed;
    left: 50%;
    margin-left: -26rem;
    margin-top: 11.5rem;
    width:      11.5rem;
  }
}

.profile-link {
  display: inline-block;
  flex-grow: 1;
  width:  2.5rem;
  height: 2.5rem;
  margin-left:  0.1rem;
  margin-right: 0.1rem;
  padding-bottom: 0.25rem;
  background-size: 2.2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #eff2f4;
}
.profile-link:hover,
.profile-link:focus {
  background-color: #D8E3EA;
  outline: none;
}
.profile-link:active {
  background-color: #FFCF77;
}

.github-link {
  background-image: url(github-logo.svg);
}
.linkedin-link {
  background-image: url(linkedin-logo.svg);
}
.stackoverflow-link {
  background-image: url(stackoverflow-logo.svg);
}
.skype-link {
  background-image: url(skype-logo.svg);
}

.main-content {
  margin: 0 auto;
  width: 25rem;
  max-width: 100%;
}

h2 {
  margin-top: 2rem;
  font-size:   inherit;
  font-weight: inherit;
}

/*.location {
  float: right;
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem;
}
.map-pin {
  background-image: url(map-pin.svg);
  width:  2.2rem;
  height: 2.2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.location .map-pin {
  margin: 0 auto;
  margin-bottom: 0.35rem;
}*/

.cv-link {
  float: right;
  display: inline;
  text-align: center;
  padding: 0.4rem;
}
.cv-link:hover,
.cv-link:focus {
  background-color: #D8E3EA;
  outline: none;
}
.cv-link:active {
  background-color: #FFCF77;
}
.cv-link img {
  display: block;
  width:  2.5rem;
  height: 2.5rem;
  pointer-events: none;
}
.cv-link label {
  display: block;
  font-weight: bold;
  color: initial;
  pointer-events: none;
}

.boxed {
  display: block;
  margin-top:    0.7rem;
  margin-bottom: 0.7rem;
  background-color: #eff2f4;
}
a.boxed:hover,
a.boxed:focus {
  background-color: #D8E3EA;
  outline: none;
}

.boxed-inline {
  display: flex;
  align-items: stretch;
}
.boxed-inline .boxed {
  flex-grow: 1;
  margin: 0;
}

.logo-gallery {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.library-link {
  padding: 0.4rem;
  padding-left:  0.6rem;
  padding-right: 0.6rem;
  max-width: 100%;
  font-weight: bold;
  color: #444;
  font-size: 1.5rem;
}
.library-link:hover,
.library-link:focus {
  background-color: #D8E3EA;
  outline: none;
}
.library-link:active {
  background-color: #FFCF77;
}

.library-link img {
  width:  6rem;
  height: 2rem;
  vertical-align: middle;
  pointer-events: none;
}


.box-header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
a.box-header:hover,
a.box-header:focus {
  background-color: #D8E3EA;
  outline: none;
}
.box-header img {
  max-width: 17rem;
  height:   2.5rem;
}
.box-header .attribute {
  margin-left: auto;
  font-size: 0.8rem;
  white-space: nowrap;
}
.box-content {
  display: block;
  margin-top: 0;
  padding: 0.5rem;
  border-top: 1px solid #CECECE;
}
.box-content .attribute {
  margin-left: auto;
  font-size: 0.8rem;
}
ul.box-content {
  padding-left: 1rem;
}
.box-content li {
  display: flex;
  font-size: 0.8rem;
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
}
.box-content li .attribute {
  margin-left: auto;
}
.list-item-icon {
  display: inline-block;
  width:  1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

/* AIE */
.aie-box {
  background-color: #0a2a3b;
  color: #fff;
}
.aie-box a {
  color: #fff;
}
.aie-box a:hover,
.aie-box a:focus {
  background-color: #17435A;
}
.aie-box .box-content {
  border-top: 1px solid #8C8C8C;
}
.certificate-icon {
  background-image: url("certificate-icon.svg");
}

/* Mediaware */
.mediaware-box {
  background-color: #01539C;
  color: #fff;
}
.mediaware-box a {
  color: #fff;
}
.mediaware-box a:hover,
.mediaware-box a:focus {
  background-color: #0E66B5;
}
.mediaware-box .box-content {
  border-top: 1px solid #C1C1C1;
}
.product-icon {
  background-image: url("product-icon.svg");
}

/* NCH */
.nch-box a {
  color: #444;
}
.application-icon {
  background-image: url("application-icon.svg");
}
